/* CSS for google font + centering all elements by default*/

*{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  box-sizing: border-box;
}

/* Style for main content wrapper */

.content-wrapper{
  align-items: center;
}

/* Navigation Bar Styling */

.nav-bar li{
  display:inline;
  text-decoration-style: none;
  padding-left:0;
}

.nav-bar a{
  text-align: center;
  padding-left:0;
  padding-right:1.53em;
  text-decoration: none;
  color:black;
}

.nav-bar ul {
  text-align: center;
  padding-left:0;
  margin:0;
  text-decoration: none;
  color:black;
}

/* Turns links blue upon mouse hover */

.nav-bar a:hover{
  color:blue;
}

/* Name */

header h1{
  margin:0;
  padding-top:.5em;
  font-size: 3em;
  text-align: center;
}

#subHead{
  padding-bottom: 3em;
}


/* Home page image styles */

main{
max-width: 375px;
padding: 0;
margin:0 auto;
}

.port-img{
  width: 320px;
  height:auto;
  padding-bottom:1.5em;
  margin:0;
}

img:hover{
  cursor:pointer;
}

p{
text-align: center;
margin:0;
padding-right:0;
padding-bottom:2em;
}

.calc-img{
  width: 320px;
  height:auto;
  padding-bottom:1.5em;
}

/* Title above form on contact page */

.form-title{
  padding-top:3em;
  padding-bottom: 2em;
  width:100%;
  text-align: center;
}

/* Style for form elements*/

fieldset{
  border:none;
  display:inline-block;
  text-align:left;
}

/* Style for placeholder text*/

::placeholder{
  opacity:.5;
  text-align: center;
}

/* Styling for textboxes/inputs */
input[type=text],
input[type=tel],
input[type=email] {

  width:100%;
  font-size:1em;
  border-radius:3px;
  border-right:1px solid black;
  border-bottom:1px solid black;
  padding: 5px 0 5px 0;
  margin: 1em 0 1em 0;
}

/* Styling reason label by ID*/

#reason-label{
  display:block;
  padding-top: 2em;
  padding-left:10px;
}

/* Styling reason select menu by ID*/

#reason{
  display:block;
  width:100%;
  margin-top:1em;
}

/* Styling text area box by ID*/

#text-area{
  margin-top:5em;
  width:100%;
  margin-bottom:2em;
}

/* Styling for form button */

#submit{
  padding: 0 2em 0 2em;
  color:blue;
}











/* Footer Style */

/* Styling Font-Awesome Icons*/

.fa-github,
.fa-youtube{
  font-size: 24px;
  padding:4em 0 2em 0;
  text-decoration: none;

  color:black;
}

.fa-github a:hover{
  color:blue;
}

.fa-youtube a:hover{
  color:blue;
}

.fa-github a:visited{
  color:black;
}

.fa-youtube a:visited{
  color:black;
}
#bTT a{
  text-decoration: none;
  color:black;
}

#bTT a:hover{
  color:blue;
}
